<h1>Admin Dashboard</h1>

<p>Welcome, <%= @user.username %></p>

<ul>
  <li>Total patients: <%= @patients_count %></li>
  <li>Total doctors: <%= @doctors_count %></li>
  <li>Total appointments: <%= @appointments_count %></li>
  <li>Unpaid bills: <%= @unpaid_bills_count %></li>
</ul>

<h2>Create new clinic</h2>
<%= form_with url: clinics_path, model: Clinic.new do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name, required: true %>
  <br>
  <%= form.label :specialty, "Specialty:" %>
  <%= form.text_field :specialty, required: true %>
  <br>
  <%= form.label :location, "Location:" %>
  <%= form.text_field :location, required: true %>
  <br>
  <%= form.label :rating, "Rating:" %>
  <%= form.number_field :rating, required: true %>
  <br>
  <%= form.submit "Create clinic" %>
<% end %>