<h1>Clinic Employment</h1>

<%= form_with url: clinic_employment_path, method: :post, local: true do %>
  <div>
    <%= label_tag :clinic_id, "Clinic" %>
    <%= select_tag :clinic_id,
                   options_from_collection_for_select(@clinics, :id, :name) %>
  </div>

  <%= submit_tag "Sign up" %>
<% end %>

<h2>My Clinics</h2>
<ul id="employment-list">
  <% if @doctor&.clinic.present? %>
    <li><%= @doctor.clinic.name %></li>
  <% else %>
    <li>No clinic selected yet</li>
  <% end %>
</ul>