<h2>Sign up as a patient</h2>
<%= form_with model: (@new_patient || Patient.new) do |form| %>
    Account details:
    <br>
    <%= form.label :email, "Email:" %>
    <%= form.text_field :email, required: true %>
    <br>
    <%= form.label :username, "Username:" %>
    <%= form.text_field :username, required: true %>
    <br>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, required: true %>
    <br>
    <br>
    Optional info:
    <br>
    <%= form.label :age, "Age:" %>
    <%= form.number_field :age %>
    <br>
    <%= form.label :height, "Height (in):" %>
    <%= form.number_field :height %>
    <br>
    <%= form.label :weight, "Weight (lbs):" %>
    <%= form.number_field :weight %>
    <br>
    <%= form.label :gender, "Gender:" %>
    <%= form.text_field :gender %>
    <br>
    <br>
    <%= form.submit "Register" %>
<% end %>