<h1>Doctors at <%= @clinic.name %></h1>

<%= link_to "Back to Clinics", clinics_path %>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>
                <%= link_to "Rating", search_clinic_doctors_path(@clinic, sort: "rating") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% @doctors.each do |doctor| %>
            <tr>
                <td><%= link_to doctor.username, doctor_time_slots_path(doctor)%></td>
                <td><%= doctor.specialty %></td>
                <td><%= doctor.rating %></td>
            </tr>
        <% end %>
    </tbody>
</table>