<!-- Login form view -->

<%= form_with do |form| %>
    <div class="form-entry">
        <%= form.text_field :email, class: "form-control", placeholder: "Email", size: 28 %>
    </div>
    <div class="form-entry">
        <%= form.password_field :password, class: "form-control", placeholder: "Password", size: 28 %>
    </div>
    <div class="form-entry">
        <div class="form-check form-check-inline border border-dark-subtle rounded padded-button">
            <%= form.radio_button :role, "patient", class: "form-check-input" %>
            <%= form.label :role_patient, "Patient", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline border border-dark-subtle rounded padded-button">
            <%= form.radio_button :role, "doctor", class: "form-check-input" %>
            <%= form.label :role_doctor, "Doctor", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline border border-dark-subtle rounded padded-button">
            <%= form.radio_button :role, "admin", class: "form-check-input" %>
            <%= form.label :role_admin, "Admin", class: "form-check-label" %>
        </div>
    </div>
    <%= form.submit "Log In" %>
<% end %>